<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.negi.wallpapers.setwallpaper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.negi.wallpapers.setwallpaper.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.negi.wallpapers.setwallpaper.Activity.ProfileSettingsActivity"></activity>
        <activity android:name="com.negi.wallpapers.setwallpaper.Activity.ProfileActivity" />
        <activity android:name="com.negi.wallpapers.setwallpaper.Activity.SignUpActivity" />
        <activity android:name="com.negi.wallpapers.setwallpaper.Activity.LoginActivity" />
        <activity android:name="com.negi.wallpapers.setwallpaper.Activity.MainActivity"
            android:theme="@style/postdetail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.negi.wallpapers.setwallpaper.Activity.ShowPostActivity"
            android:theme="@style/postdetail" />
    </application>

</manifest>